
* {
    box-sizing: border-box;
}

.caps {
  text-transform: uppercase;
}

.center {
  margin: auto;
  text-align: center;
}

.underline {
  max-width: 60px;
  border-bottom: 3px solid red;
}

.colored {
  background: transparent;
  color: red;
}

body {
  /* background: #dce8fb; */
  background-image: url("../images/background.jpg");
  background-size: 70%;
  margin: 0;
}

#wrapper {
  margin: 0 auto 0 auto;
  background: #f0f6ff;
  max-width: 1280px;
}

#main-header, footer {
  padding: 40px;
  background: #612727;
  color: white;
}

#logo {
  max-width: 100px;
}

a {
  text-decoration: none;
  color: white;
  background: transparent;
}

.banner {
  background: #22374c;
  color: white;
  text-align: center;
  padding: 60px 80px 60px 80px;
}

.banner p {
  padding-top: 15px;
  padding-bottom: 15px;
}

.border-button {
  border: 2px solid white;
  padding: 10px;
}

.chunk {
  padding: 60px 120px 60px 120px;
  background-image: url("../images/chunk-tex.jpg");
  background-size: 50%;
}

#description {
  display: flex;
}

.split3 {
  flex: 0 0 33%;
  padding: 0 30px 0 30px;
}

.img-title-text img {
  max-width: 40px;
  max-height: 40px;
  float: left;
}

.img-title-text span {
  float: right;
}

#contact-form {
  display: flex;
}

#contact-message, #contact-info {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-width: 40%;
}

form {
  margin: 40px 0 40px 0;
}

input, textarea {
  margin-bottom: 15px;
}

#about {
  display: flex;
}
