
#thumbnails {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
}

.thumbnail {
  flex: 0 0 25%;
  max-width: 25%;
}

.img-border {
  border-width: 4px;
  border-style: solid;
}

.img-border.color0 { border-color: #B5CBFD; }
.img-border.color1 { border-color: #C0B850; }
.img-border.color2 { border-color: #549C2D; }
.img-border.color3 { border-color: #7D86E1; }

#thumbnails-nav {
  margin: 30px;
}
